extends root.pug

block content
  .main
    .basepad
      h1.title Brad Curran
    hr.nomargin
    .basepad
      p Hi, I'm Brad.
      h2 Experience
      h3.experiencetitle Senior Software Development Engineer
      h4.experiencesubtitle Amazon Web Services (AWS)
      h3.experiencetitle Software Development Engineer
      h4.experiencesubtitle Amazon
      h3.experiencetitle Senior Software Engineer
      h4.experiencesubtitle Outware Mobile
      h3.experiencetitle Systems Engineer
      h4.experiencesubtitle Salt Group
      h3.experiencetitle Software Engineer
      h4.experiencesubtitle Electronic Arts / Firemonkeys
    hr.nomargin
    .basepad
      h2 Blog
      p Coming soon!
