doctype html

html
  head
    title Brad Curran
    link(rel="stylesheet" href="style.css")
  body
    .content
      block content
      .footer.basepad
        a.footerunit(href="mailto:brad@bradleycurran.com") Email
        a.footerunit(href="https://www.linkedin.com/in/bradleycurran/") LinkedIn
        a.footerunit(href="https://github.com/bradley-curran/") GitHub
