extends root.pug

block content
  .main
    .basepad
      h1.title Brad Curran
    hr.nomargin
    .basepad
      p Hi, I'm Brad.
      h2 Experience
      h3.experiencetitle Senior Software Development Engineer
      h4.experiencesubtitle Amazon Web Services (AWS)
      h3.experiencetitle Software Development Engineer
      h4.experiencesubtitle Amazon
      h3.experiencetitle Senior Software Engineer
      h4.experiencesubtitle Outware Mobile
      h3.experiencetitle Systems Engineer
      h4.experiencesubtitle Salt Group
      h3.experiencetitle Software Engineer
      h4.experiencesubtitle Electronic Arts / Firemonkeys
    hr.nomargin
    .basepad
      h2 Projects
      h3 #[code bssg] - Brad's Static Site Generator
      p Given a #[code bssg.json] file, execute a series of build steps to generate a static website.
      p #[a(href="https://www.npmjs.com/package/bssg" target="_blank") npm], #[a(href="https://github.com/bradley-curran/bssg#readme" target="_blank") GitHub]
      h3 #[code generator-bcnode]
      p A #[a(href="https://www.npmjs.com/package/yo") yo] plugin to generate a nodejs project.
      p Comes preconfigured with prettierjs, TypeScript, bundling, minification and auto-building.
    hr.nomargin
    .basepad
      h2 Blog
      p Coming soon!
