doctype html

html(lang="en")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="Bradley Curran. Senior Software Engineer.")
    title Brad Curran
    link(rel="stylesheet" href="style.css")
  body
    .content
      block content
      .footer.basepad
        a.footerunit(href="mailto:brad@bradleycurran.com") Email
        a.footerunit(href="https://www.linkedin.com/in/bradleycurran/" target="_blank") LinkedIn
        a.footerunit(href="https://github.com/bradley-curran/" target="_blank") GitHub
